#sep-bottom-6 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}     .cls-1{fill:#04009a}.cls-2{fill:#77acf1}
#nav-menu-logo-social .bg {
	background-position: center bottom;
	background-image: url('../images/banner-96.jpg');
}
#nav-menu-logo-social .bg-wrap {
	background: linear-gradient(135deg, #ff2c76, rgba(255, 44, 118, 0.69));
}#header-text-3 .bg {
    background-image: url('../images/uploaded/2774/2774-websmith__overhead-view-of-rose-gold-hair-care-products-and-2022-11-07-05-42-22-utc.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.5;
}

#header-text-3 .bg-wrap {
	background: rgba(255, 44, 118, 0.9);}#sep-center-5 .bg-wrap {
    background: rgba(255, 255, 255, 0);
}#desc-text-halfbg .bg-wrap {
    background: linear-gradient(to bottom, rgba(0, 39, 118, 0.68), #002776);
}#sep-bottom-7--0 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}

#sep-bottom-7--0 .bg {
    background-image: url('../images/bg-fog-bottom.png');
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100px;
}
#sep-top-7 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}

#sep-top-7 .bg {
    background-image: url('../images/bg-fog-top.png');
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 100px;
}
#desc-img-text-9 .bg {
    background-image: url('../images/uploaded/2774/2774-websmith__close-up-of-cosmetologist-doing-hair-caring-mask-2021-09-23-16-43-59-utc.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    opacity: 0.3;
}
#desc-img-text-9 .bg-wrap {
	background: linear-gradient(to bottom, #002776, #ff2c76);
}#sep-top-6--1 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}     #sep-bottom-7 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}

#sep-bottom-7 .bg {
    background-image: url('../images/bg-fog-bottom.png');
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100px;
}

#benefits-2col-counter--0 .bg-wrap{
    background: #F2F0ED;
}

#benefits-2col-counter .bg-wrap {
	background: linear-gradient(to bottom, rgba(255, 44, 118, 0.72), #f2f0ed);
}
#benefits-2col-counter--1 .bg-wrap{
    background: #f2f0ed;
}
#footer-logo-share .bg {
    background-image: url('../images/linearicons/haircut.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.075;
}
